*{
	margin: 0;
	padding: 0;
}

body{
	display: flex;
    justify-content: center;
	background-color: antiquewhite;
}

h1{
	display: flex;
	justify-content: center;
}


table{
	display: flex;
    flex-direction: column;
    align-items: center;
	border: 1px solid black;
}

.header{
	display: flex;
    flex-direction: column;
    align-items: center;
}

thead{
	background-color: aqua;
	border: 1px solid black;
	width: 232px;
	display: flex;
	justify-content: center;
}

tbody{
	width: 232px;
	justify-content: center;
	display: flex;
}







